@charset "utf-8";
/* Stylesheet for index.html */

body {
    font-family: sans-serif, verdana, arial;
    background-color: #FFFFFF;
    margin: 0;
}

/* HEADER */
header {
	margin: 2%;
}

/* 'TH-HTML5' -> '<TH-HTML5>' */
header > h1:before { content: '<'; }
header > h1:after  { content: '>'; }

/* Make the header align with the logo. */
header > h1 {
    float: right;
    margin: 0.5em 0;
}

header:after {
    clear: both;
    content: ' ';
    height: 0;
    display: block;
}

/* BODY */
#body {
    margin: 0 10%;
}

#body > p {
    text-align: justify;
    margin: 1em 2em;
}

/* Make the link list not look like a list. */
nav > ul {
    list-style-type: none;
}

nav > ul:after {
    content: ' ';
    height: 0;
    clear: both;
    display: block;
}

nav > ul > li {
    float: left;
    padding: 0 0.5em;
}

/* FOOTER */
footer {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    font-size: small;
	color: #000;
	background-color: #CCC;
}
