@charset "utf-8";
/* Stylesheet for index.html */

#Header {
	height: 20%;
	width: 100%;
	text-align: center;
	padding: 10px;
	background-color: #FFF;
}
#Body {
	background-color: #FFF;
	height: 70%;
	width: 100%;
	text-align: center;
}
#Footer {
	color: #000;
	text-align: center;
	height: 10%;
	width: 100%;
	background-color: #CCC;
}
